# Ignore web frontend
/src/
/public/
/dist/

# Ignore node_modules
node_modules/
mobile/node_modules/

# Ignore build/temp files
.expo/
mobile/.expo/
mobile/android/app/build/
mobile/android/build/
mobile/ios/build/
*.local

# Ignore mobile local JDK
mobile/jdk-17/
mobile/jdk-*/

# Ignore logs & output
*.txt
*.log
*.gz
