# Ignore web frontend
../src/
../public/
../dist/

# Ignore node_modules
node_modules/
../node_modules/

# Ignore build/temp files
.expo/
../.expo/
android/app/build/
android/build/
ios/build/
*.local

# Ignore local JDK
jdk-17/
jdk-*/

# Ignore logs & output
*.txt
*.log
*.gz
